/*!
Theme: Smeshnie Ceny
Author: Andrey G
Version: 3.0
*/

/*//////////////////////////////////////////////////////////////////
[ + IMPORT FONTS ]*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap');

/*//////////////////////////////////////////////////////////////////
[ + BASE STYLES ]*/

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #fea116;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 254, 161, 22;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 25, 135, 84;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 33, 37, 41;
    --bs-body-bg-rgb: 241, 248, 255;
    --bs-font-sans-serif: "Noto Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 16px;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #f1f8ff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.05);
    --bs-border-radius: 6px;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #fea116;
    --bs-link-hover-color: #cb8112;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
    --swiper-theme-color: #fea116;
}

html {
    scroll-behavior: smooth;
}

.bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*//////////////////////////////////////////////////////////////////
[ + ANIMATIONS ]*/

.hover-shine:hover {
    opacity: 1;
    -webkit-animation: flash .8s;
    animation: flash .8s;
}

@keyframes flash {
    0% {
        opacity: .65;
    }

    100% {
        opacity: 1;
    }
}

.hover-opacity {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.hover-opacity:hover {
    opacity: .65;
}

/*//////////////////////////////////////////////////////////////////
[ + TYPOGRAPHY ]*/

/*//////////////////////////////////////////////////////////////////
[ + LINKS ]*/

a {
    text-decoration: none;
}

.breadcrumb a {
    text-decoration: none;
}

.underline,
.breadcrumb a,
.page-content a,
.post-content a {
    background: linear-gradient(currentColor,currentColor) 0 100% no-repeat;
    background-size: 0 1px;
    transition: background-size .45s ease-in-out;
}

.underline:hover,
.breadcrumb a:hover,
.page-content a:hover,
.post-content a:hover {
    background-size: 100% 1px;
}

/*//////////////////////////////////////////////////////////////////
[ + BUTTONS ]*/

.btn {
    --bs-btn-padding-y: 6px;
    --bs-btn-padding-x: 14px;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 16px;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #212529;
    --bs-btn-bg: transparent;
    --bs-btn-border-width: 1px;
    --bs-btn-border-color: transparent;
    --bs-btn-border-radius: 6px;
    --bs-btn-hover-border-color: transparent;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #fea116;
    --bs-btn-border-color: #fea116;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #cb8112;
    --bs-btn-hover-border-color: #cb8112;
    --bs-btn-focus-shadow-rgb: 226, 3, 56;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #cb8112;
    --bs-btn-active-border-color: #cb8112;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #fea116;
    --bs-btn-disabled-border-color: #fea116;
}

.btn-icon {
    --btn-icon-size: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: var(--btn-icon-size);
    height: var(--btn-icon-size);
    padding: 0 !important;
}

.btn-group-lg>.btn,
.btn-lg {
    --bs-btn-padding-y: 8px;
    --bs-btn-padding-x: 18px;
    --bs-btn-font-size: 18px;
    --bs-btn-border-radius: 8px;
}

.btn-group-sm>.btn,
.btn-sm {
    --bs-btn-padding-y: 4px;
    --bs-btn-padding-x: 10px;
    --bs-btn-font-size: 14px;
    --bs-btn-border-radius: 4px;
}

/*//////////////////////////////////////////////////////////////////
[ + FORMS ]*/

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
    outline: none;
}

:focus,
:active {
    outline: none;
}

textarea {
    overflow: auto;
}

.form-control,
.form-select {
    font-size: 16px;
    border-radius: 6px;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus,
.form-select:focus {
    border-color: #fea116;
    box-shadow: none;
}

.form-check-input:focus {
    box-shadow: none;
}

.search-form {
    position: relative;
    width: 100%;
}

.search-form .form-control {
    border-top-width: 0 !important;
    border-right-width: 0 !important;
    border-left-width: 0 !important;
    border-radius: 0 !important;
    padding-left: 0;
    padding-right: 90px;
}

.sidebar .search-form .form-control {
    padding-right: 40px;
}

/*//////////////////////////////////////////////////////////////////
[ + HEADER ]*/

.header {
    --theme-header-height: 80px;
    position: relative;
    height: var(--theme-header-height);
    margin-bottom: 32px;
}

.fixed-header {
    position: absolute;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #ededed;
    border-radius: 0 0 16px 16px;
    background-color: #fff;
    z-index: 1035;
}

.js-header {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.site-brand {
    display: flex;
    align-items: center;
    gap: 16px;
    color: var(--bs-navbar-brand-color);
    text-decoration: none;
}

.site-brand:focus,
.site-brand:hover {
    color: var(--bs-navbar-brand-hover-color);
}

.custom-logo-link {
    flex-shrink: 0;
}

.custom-logo-link img {
    max-height: calc(var(--theme-header-height) - var(--bs-navbar-padding-y)*2);
    width: auto;
}

.site-logo {
    display: block;
    flex-shrink: 0;
    width: 100px;
    height: auto;
}

.site-heading {
    display: none;
}

.site-heading .site-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

.site-heading .site-description {
    color: #6d6d6d;
    font-size: 14px;
    font-weight: 500;
}

@media (min-width: 992px) {

    .fixed-header {
        border-radius: 0;
    }
}

@media (min-width: 1200px) {

    .site-heading {
        display: block;
    }
}

/*------------------------------------------------------------------
[ Menu ]*/

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: .5rem;
    --bs-navbar-color: #120e1e;
    --bs-navbar-hover-color: #fea116;
    --bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
    --bs-navbar-active-color: #fea116;
    --bs-navbar-nav-link-padding-x: 16px;
    min-height: var(--theme-header-height);
}

.navbar-nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-font-size: 16px;
    --bs-nav-link-font-weight: 500;
    gap: 16px;
    margin-left: auto;
}

.nav-toggler {
    position: relative;
    width: 32px;
    height: 32px;
    outline: 0;
    border: 0;
    padding: 0;
}

.nav-toggler>div {
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #120e1e;
    transition: all 0.3s ease;
}

.nav-toggler>div:nth-child(1) {
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
}

.nav-toggler>div:nth-child(2) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

.nav-toggler>div:nth-child(3) {
    top: 75%;
    left: 50%;
    transform: translate(-50%, -75%);
}

.nav-toggler:not(.collapsed)>div:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.nav-toggler:not(.collapsed)>div:nth-child(2) {
    opacity: 0;
}

.nav-toggler:not(.collapsed)>div:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.search-toggler {
    width: 32px;
    height: 32px;
    outline: 0;
    border: 0;
    padding: 0;
}

.search-toggler.mobile {
    display: inline-block;
}

.search-toggler.desktop {
    display: none;
}

/* WordPress menu style */

.navbar-nav li a {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: var(--bs-nav-link-color);
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.navbar-nav li a:focus,
.navbar-nav li a:hover {
    color: var(--bs-nav-link-hover-color);
}

.navbar-nav li.current-menu-item a {
    color: var(--bs-navbar-active-color);
}

.navbar-nav li.menu-item-has-children {
    position: relative;
}

.navbar-nav li.menu-item-has-children>a {
    display: flex;
    align-items: center;
}

.navbar-nav li.menu-item-has-children>a:after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(0, 0, 0, 1);transform: ;msFilter:;'%3E%3Cpath d='M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z'%3E%3C/path%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: .3s ease all;
}

.navbar-nav li.menu-item-has-children:hover>a:after {
    transform: rotate(180deg);
}

.navbar-nav ul.sub-menu {
    --bs-dropdown-zindex: 1000;
    --bs-dropdown-min-width: 10rem;
    --bs-dropdown-padding-x: 0;
    --bs-dropdown-padding-y: 0.5rem;
    --bs-dropdown-spacer: 0.125rem;
    --bs-dropdown-font-size: 1rem;
    --bs-dropdown-color: #212529;
    --bs-dropdown-bg: #fff;
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-border-radius: 0.375rem;
    --bs-dropdown-border-width: 1px;
    --bs-dropdown-inner-border-radius: calc(0.375rem - 1px);
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-divider-margin-y: 0.5rem;
    --bs-dropdown-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    --bs-dropdown-link-color: #212529;
    --bs-dropdown-link-hover-color: #1e2125;
    --bs-dropdown-link-hover-bg: #e9ecef;
    --bs-dropdown-link-active-color: #fff;
    --bs-dropdown-link-active-bg: #0d6efd;
    --bs-dropdown-link-disabled-color: #adb5bd;
    --bs-dropdown-item-padding-x: 1rem;
    --bs-dropdown-item-padding-y: 0.25rem;
    --bs-dropdown-header-color: #6c757d;
    --bs-dropdown-header-padding-x: 1rem;
    --bs-dropdown-header-padding-y: 0.5rem;
    position: static;
    z-index: var(--bs-dropdown-zindex);
    display: none;
    min-width: var(--bs-dropdown-min-width);
    padding: var(--bs-dropdown-padding-y) var(--bs-dropdown-padding-x);
    margin: 0;
    font-size: var(--bs-dropdown-font-size);
    color: var(--bs-dropdown-color);
    text-align: left;
    list-style: none;
    background-color: var(--bs-dropdown-bg);
    background-clip: padding-box;
    border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color);
    border-radius: var(--bs-dropdown-border-radius);
}

.navbar-nav .menu-item-has-children:hover ul.sub-menu {
    display: block;
}

.navbar-nav ul.sub-menu li a {
    display: block;
    width: 100%;
    padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    clear: both;
    font-weight: 400;
    color: var(--bs-dropdown-link-color);
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.navbar-nav ul.sub-menu li a:focus,
.navbar-nav ul.sub-menu li a:hover {
    color: var(--bs-dropdown-link-hover-color);
    background-color: var(--bs-dropdown-link-hover-bg);
}

@media (min-width: 992px) {

    .navbar-expand-lg .navbar-nav {
        gap: 24px;
    }

    .navbar-expand-lg .nav-toggler {
        display: none;
    }

    .navbar-expand-lg .search-toggler.mobile {
        display: none;
    }

    .navbar-expand-lg .search-toggler.desktop {
        display: inline-block;
        margin-left: 1rem;
    }

    .navbar-expand-lg .navbar-nav ul.sub-menu {
        position: absolute;
        top: 100%;
        left: 0;
        box-shadow: 0 4px 12px 2px rgba(0, 0, 0, 0.05);
    }
}

/*//////////////////////////////////////////////////////////////////
[ + FOOTER ]*/

.footer {
    padding: 48px 0 24px;
}

.footer-widget {
    margin-bottom: 32px;
}

.footer-widget:last-child {
    margin-bottom: 0;
}

.footer-widget .widegt-title {
    font-size: 20px;
    font-weight: 500;
}

.footer-widget .nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-font-size: 14px;
    --bs-nav-link-color: #120e1e;
    --bs-nav-link-hover-color: #fea116;
    flex-direction: column;
    gap: 8px;
}

.footer-widget .nav .nav-link {
    display: inline;
}

/*//////////////////////////////////////////////////////////////////
[ + MODALS & OFFCANVAS ]*/

.modal {
    --bs-modal-padding: 1.5rem;
    --bs-modal-header-border-width: 0;
    --bs-modal-header-padding: 1.5rem;
    --bs-modal-border-width: 0;
    --bs-modal-border-radius: 6px;
}

.btn-close:focus {
    box-shadow: none;
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
    --bs-offcanvas-zindex: 1045;
    --bs-offcanvas-width: 400px;
    --bs-offcanvas-height: 30vh;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1rem;
    --bs-offcanvas-color: ;
    --bs-offcanvas-bg: #fff;
    --bs-offcanvas-border-width: 0;
    --bs-offcanvas-border-color: var(--bs-border-color-translucent);
    --bs-offcanvas-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.offcanvas-search {
    --bs-offcanvas-height: auto;
    --bs-offcanvas-padding-x: 1rem;
    --bs-offcanvas-padding-y: 1.75rem;
    bottom: auto;
}

/*//////////////////////////////////////////////////////////////////
[ + CONTENT ]*/

/*//////////////////////////////////////////////////////////////////
[ + SECTIONS ]*/

.site-wrapper {
    max-width: 1200px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: #fff;
}

.section {
    padding: 0 0 48px;
}

.section-heading {
    max-width: 750px;
    text-align: center;
    margin: 0 auto 48px;
}

.section-description {
    font-size: 18px;
}

@media (min-width: 992px) {
    .section {
        padding: 0 24px 64px;
    }
}

/*//////////////////////////////////////////////////////////////////
[ + CARD ]*/

.card {
    --bs-card-spacer-y: 1rem;
    --bs-card-spacer-x: 1rem;
    --bs-card-title-spacer-y: 0.5rem;
    --bs-card-border-width: 1px;
    --bs-card-border-color: var(--bs-border-color-translucent);
    --bs-card-border-radius: 1rem;
    --bs-card-box-shadow: ;
    --bs-card-inner-border-radius: calc(1rem - 1px);
    --bs-card-cap-padding-y: 1rem;
    --bs-card-cap-padding-x: 1rem;
    --bs-card-cap-bg: transparent;
    --bs-card-cap-color: ;
    --bs-card-height: ;
    --bs-card-color: ;
    --bs-card-bg: #fff;
    --bs-card-img-overlay-padding: 1rem;
    --bs-card-group-margin: 0.75rem;
    word-wrap: normal;
}

.card-img, .card-img-top {
    max-width: 100%;
    height: auto;
}

.card-title {
    --bs-link-color: #212529;
    --bs-link-hover-color: #fea116;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 16px;
}

.card-title a {
    text-decoration: none;
}

.card-img-scale {
    position: relative;
    display: block;
    overflow: hidden;
    border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color);
}

.card-img-scale img {
    max-width: 100%;
    height: auto;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: 50% 50%;
    transition: all 0.3s ease;
}

.card-img-scale:hover img {
    transform: scale(1.1);
}

.card-blog {
    --bs-card-title-spacer-y: 0;
    overflow: hidden;
}

.card-blog .card-img-scale img {
    aspect-ratio: 1/1;
}

.card-blog.blog-video .card-img-scale img {
    aspect-ratio: 16/9;
}

.card-blog .card-excerpt {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 14px;
}

.card-blog .card-excerpt p {
    margin-bottom: 0;
}

.card-blog .card-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #6c757d;
}

.card-blog .meta-views {
    position: relative;
    padding-left: 25px;
}

.card-blog .meta-views::before {
    content:"";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    width: 20px;
    height: 20px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24' style='fill: rgba(108, 117, 125, 1);'%3E%3Cpath d='M14 12c-1.095 0-2-.905-2-2 0-.354.103-.683.268-.973C12.178 9.02 12.092 9 12 9a3.02 3.02 0 0 0-3 3c0 1.642 1.358 3 3 3 1.641 0 3-1.358 3-3 0-.092-.02-.178-.027-.268-.29.165-.619.268-.973.268z'%3E%3C/path%3E%3Cpath d='M12 5c-7.633 0-9.927 6.617-9.948 6.684L1.946 12l.105.316C2.073 12.383 4.367 19 12 19s9.927-6.617 9.948-6.684l.106-.316-.105-.316C21.927 11.617 19.633 5 12 5zm0 12c-5.351 0-7.424-3.846-7.926-5C4.578 10.842 6.652 7 12 7c5.351 0 7.424 3.846 7.926 5-.504 1.158-2.578 5-7.926 5z'%3E%3C/path%3E%3C/svg%3E");
}

.card-magazin {
    overflow: hidden;
}

.card-magazin .card-img-scale img {
    aspect-ratio: 5/4;
}

.card-magazin .card-badge {
    --bs-badge-font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
}

.card-magazin .card-meta {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #6c757d;
}

.card-magazin .card-meta span {
    position: relative;
    padding-left: 12px;
}

.card-magazin .card-meta span:before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    opacity: 0.8;
    background-color: #6c757d;
}

/*//////////////////////////////////////////////////////////////////
[ + SWIPER ]*/

.swiper-next,
.swiper-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 0;
    outline: 0;
    padding: 0;
    opacity: 0.95;
    box-shadow: 0 2px 3px 1px rgb(0 0 0 / 10%);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: auto;
    background-color: #fea116;
    z-index: 10;
}

.swiper-next:hover,
.swiper-prev:hover {
    background-color: #cb8112;
}

.swiper-next {
    right: 10px;
    left: auto;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-420.000000, -6559.000000)' fill='%23fff'%3E%3Cg transform='translate(56.000000, 160.000000)'%3E%3Cpath d='M375.127681,6399.29274 C374.737008,6398.90242 374.104537,6398.90242 373.714864,6399.29274 C373.324191,6399.68307 373.324191,6400.31497 373.714864,6400.7043 L380.149475,6407.14215 C380.464211,6407.45661 380.241398,6408.00167 379.79677,6408.00167 L365.016149,6408.00167 C364.464611,6408.00167 364,6408.44091 364,6408.99195 L364,6408.99594 C364,6409.54699 364.464611,6409.99821 365.016149,6409.99821 L379.79677,6409.99821 C380.241398,6409.99821 380.464211,6410.52829 380.149475,6410.84275 L373.68389,6417.29957 C373.293217,6417.68889 373.293217,6418.3188 373.68389,6418.70913 L373.68389,6418.70813 C374.073563,6419.09746 374.706034,6419.09746 375.096707,6418.70713 L383.41474,6410.39652 L383.41474,6410.39652 C384.195087,6409.61687 384.195087,6408.35206 383.41474,6407.57241 C383.233892,6407.39272 374.946832,6399.11206 375.127681,6399.29274'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.swiper-prev {
    left: 10px;
    right: auto;
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 20 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate(-100.000000, -6599.000000)' fill='%23fff'%3E%3Cg transform='translate(56.000000, 160.000000)'%3E%3Cpath d='M52.87975,6458.70724 C53.27075,6459.09759 53.90375,6459.09759 54.29375,6458.70724 C54.68475,6458.3169 54.68475,6457.68497 54.29375,6457.29563 L47.85375,6450.86648 C47.53875,6450.55201 47.76175,6450.01491 48.20675,6450.01491 L62.99975,6450.01491 C63.55175,6450.01491 63.99975,6449.55868 63.99975,6449.00761 L63.99975,6449.00362 C63.99975,6448.45255 63.55175,6448.01828 62.99975,6448.01828 L48.20675,6448.01828 C47.76175,6448.01828 47.53875,6447.48019 47.85375,6447.16572 L54.32475,6440.70462 C54.71575,6440.31428 54.71575,6439.68235 54.32475,6439.29201 L54.32475,6439.29201 C53.93475,6438.90266 53.30175,6438.90266 52.91075,6439.29201 L44.58575,6447.60398 C43.80475,6448.38367 43.80475,6449.64753 44.58575,6450.42722 C44.78875,6450.62987 53.04075,6458.86797 52.87975,6458.70724'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.outside-next {
    right: -10px;
}

.outside-prev {
    left: -10px;
}

.swiper-button-disabled {
    opacity: 0.15;
}

.swiper-pagination {
    position: static;
    margin-top: 20px;
}

.swiper-pagination-bullet {
    --swiper-pagination-bullet-width: 16px;
    --swiper-pagination-bullet-height: 4px;
    --swiper-pagination-bullet-opacity: 0.75;
    border-radius: 10px;
    margin: 0 3px;
    transition: width 0.5s;
}

.swiper-pagination-bullet-active {
    --swiper-pagination-bullet-width: 32px;
    --swiper-pagination-color: var(--swiper-theme-color);
}

.swiper .card {
    height: 100%;
}

.magazinSwiper .swiper-slide {
    height: auto;
}

.blogSwiper .swiper-slide {
    height: auto;
}

@media (min-width: 992px) {

    .outside-next {
        right: -28px;
    }
    
    .outside-prev {
        left: -28px;
    }
}

/*------------------------------------------------------------------
[ section-top-ad ]*/

.section-top-ad {}

/*------------------------------------------------------------------
[ main-content ]*/

.sidebar {
    height: 100%;
}

.sidebar-widget {
    margin-bottom: 32px;
}

.sidebar-widget:last-child {
    margin-bottom: 0;
}

.sidebar-widget .widegt-title {
    font-size: 20px;
    font-weight: 500;
}

.sidebar-widget .nav {
    --bs-nav-link-padding-x: 0;
    --bs-nav-link-padding-y: 0;
    --bs-nav-link-color: #120e1e;
    --bs-nav-link-hover-color: #fea116;
    flex-direction: column;
    gap: 8px;
}

.sidebar .ad-widget {
    position: -webkit-sticky;
    position: sticky;
    top: 16px;
    display: flex;
    justify-content: center;
}

/*------------------------------------------------------------------
[ section-cta-video ]*/

.section-cta-video .section-bg-icon {
    position: absolute;
    display: block;
    width: 375px;
    height: auto;
    bottom: -100px;
    left: -50px;
    transform: rotate(-35deg);
    opacity: 0.05;
}

.cta-video {
    position: relative;
}

.cta-video .cta-video-cover {
    border-radius: calc(1rem - 1px);
}

.cta-video .btn-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #fea116;
}

.cta-video .btn-play::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100px;
    height: 100px;
    background: #fea116;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
}

.cta-video .btn-play:hover,
.cta-video .btn-play:hover::before {
    background: #cb8112;
}

@keyframes pulse-border {
    0% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
}

/*------------------------------------------------------------------
[ archive-grid ]*/

.archive-grid {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 30px 20px;
}

.navigation-pagination {
    margin-top: 42px;
}

.navigation-pagination ul {
    --bs-link-color: #120e1e;
    --bs-link-hover-color: #fea116;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navigation-pagination ul li .page-numbers {
    display: inline-block;
    padding: 6px 15px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    background-color: #fff;
    transition: all 0.15s ease-in-out;
}

.navigation-pagination ul li .current {
    color: #fff;
    border-color: #FEA116;
    background-color: #FEA116;
}

@media (min-width: 768px) {
    .archive-grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/*------------------------------------------------------------------
[ single post ]*/

.post-heading {
    margin-bottom: 32px;
}

.post-img {
    margin-bottom: 32px;
}

.post-img img {
    max-width: 100%;
    height: auto;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: 50% 50%;
}

.post-meta {
    margin-bottom: 64px;
}

.post-content,
.page-content {
    margin-bottom: 32px;
}

.post-tags {
    --bs-link-color: #120e1e;
    --bs-link-hover-color: #fea116;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.post-tags a {
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 3px 10px;
    border-radius: 6px;
    background-color: #f3f3f3;
}

.post-tags a::before {
    content: "#";
}

.post-comments {
    margin-top: 64px;
}

.comment-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comment-inner {
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid #e1e8ed;
}

.comment-meta {
    display: flex;
    gap: 10px;
}

.comment-reply-link {
    color: var(--bs-body-color);
    padding: 3px 10px;
    border-radius: 6px;
    background-color: #f3f3f3;
}

.comment-reply-link:hover {
    color: var(--bs-link-color);
}

.comment-list .children {
    padding-left: 70px;
    margin: 0;
    list-style: none;
}

.comment-respond {
    padding: 32px 16px;
    border-radius: 8px;
    background-color: #F1F8FF;
}

.custom-post-map {
    margin-bottom: 32px;
}

.custom-post-meta {
    margin-bottom: 32px;
}

.custom-post-gallery {
    margin-bottom: 32px;
}

.gallery-img {
    max-width: 100%;
    height: auto;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    object-position: 50% 50%;
}

@media (min-width: 992px) {
    .comment-respond {
        padding: 32px;
    }
}

/*//////////////////////////////////////////////////////////////////
[ + MEDIA ]*/

/* @media (min-width: 576px) {} */

/* @media (min-width: 768px) {} */

/* @media (min-width: 992px) {} */

/* @media (min-width: 1200px) {} */

/* @media (min-width: 1400px) {} */

@media (min-width: 1600px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1400px;
    }
}

@media (min-width: 1920px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1600px;
    }
}

/*//////////////////////////////////////////////////////////////////
[ + OLD WP STYLES ]*/

.alignleft {
    float: left;
    margin-right: 8px;
    margin-bottom: 8px;
}

.shop-metro {
    position: relative;
    padding-left: 14px;
}

.shop-metro::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: transparent;
}

.shop-metro[data-vetka="zelenaya"]::before {
    background-color: green;
}

.shop-metro[data-vetka="krasnaya"]::before {
    background-color: red;
}

.shop-metro[data-vetka="golubaya"]::before {
    background-color: #019ee0;
}

.shop-metro[data-vetka="fioletovaya"]::before {
    background-color: #b61d8e;
}

.shop-metro[data-vetka="sinyaya"]::before {
    background-color: blue;
}

.shop-metro[data-vetka="orangevaya"]::before {
    background-color: #ff9933;
}

.shop-metro[data-vetka="jeltaya"]::before {
    background-color: #ffd803;
}

.shop-metro[data-vetka="mcd"]::before {
    background-color: #83bee2;
}

.shop-metro[data-vetka="seraya"]::before {
    background-color: #a2a5b4;
}

.shop-metro[data-vetka="salatovaya"]::before {
    background-color: #adf398;
}

.shop-hours {
    color: #6c757d;
    font-size: 14px;
}